* {
  background-color: #393e46;
  color: azure;
}

#reference,
h1 {
  margin: 0;
  text-align: center;
}

body > img {
  float: right;
  padding: 15px;
  border-radius: 25%;
}

ul,
p {
  margin: 0;
  font-size: large;
}

h2 {
  margin-top: 0;
  margin-bottom: 5px;
}

h3 {
  margin-top: 5px;
  margin-bottom: 0;
}

a > img {
  background-color: azure;
  border-radius: 25%;
  text-align: center;
  height: 30px;
  width: 30px;
  padding: 5px;
  margin: 5px;
  margin-bottom: 0px;
}

.subSkills {
  display: flex;
  gap: 30px;
  list-style: none;
}

.subSkills > li {
  flex-basis: auto;
}
